.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: -8px -15px;

  &__icon {
    margin-right: 10px;
    fill: $primary-text-color;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;

    color: $primary-text-color;
    font-weight: $medium-font-weight;
    font-size: $font-size-fourteen;
    line-height: $line-height-fourteen;
    letter-spacing: $letter-spacing-two;
    text-decoration: none;

    background-color: $primary-bg-color;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item,
  &__item-mail {
    display: flex;
    margin: 8px 15px;
  }

  &__item-mail:hover &__link,
  &__item:hover &__link {
    color: $accent-color;
  }
  &__item-mail:hover &__icon,
  &__item:hover &__icon {
    fill: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -6px -15px -6px 54px;

    &__item,
    &__item-mail {
      margin: 6px 15px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
}
