.site-nav {
  display: flex;
  flex-direction: column;
  margin: 20px -25px 40px;

  &__link {
    position: relative;
    color: $title-text-color;
    background-color: $primary-bg-color;
    font-family: $text-font-family;
    font-weight: $medium-font-weight;
    font-size: $font-size-fourteen;
    line-height: $line-height-fourteen;
    letter-spacing: $letter-spacing-two;
    text-decoration: none;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &.current {
      color: $accent-color;
    }
  }

  &__item {
    margin: 20px 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    margin: 0 -25px;

    &__item {
      margin: 0 25px;
    }

    &__link {
      position: relative;
      display: flex;
      align-items: center;
      display: block;
      padding: 0;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
}
