body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $text-font-family;
  letter-spacing: $letter-spacing-three;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 480px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
button {
  font-family: inherit;
  font-weight: $medium-font-weight;
  font-size: $font-size-sixteen;
  line-height: $line-height-six;
  letter-spacing: $letter-spacing-three;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
