.command-section {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  text-align: center;
}

.command-list {
  display: flex;
  flex-direction: column;
  margin: -15px -15px;

  &__item {
    margin: 15px 15px;

    background: $primary-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__photo {
    max-width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 30px 32px;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }

  &__text {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .command {
    &-list {
      flex-wrap: wrap;
    }

    &-list__item {
      width: calc((100% - 4 * 15px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .command-section {
    padding-top: 94px;
  }

  .command {
    &-list {
      flex-wrap: nowrap;
    }

    &-list__item {
      width: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .command {
    &-list {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .command {
    &-list {
      flex-wrap: wrap;
    }
  }
}
