.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;

  &__webstudio-header {
    display: flex;
    align-items: center;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $title-text-color;
    background-color: $primary-bg-color;
    text-decoration: none;
  }

  &__logo {
    color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    &__webstudio-header {
      margin-right: 80px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    &__webstudio-header {
      font-size: 26px;
      margin-right: 93px;
    }
  }
}
