.principle {
  padding-top: 60px;
  justify-content: center;
  align-items: center;

  &__card {
    display: flex;

    // width: 270px;
    height: 120px;

    box-sizing: border-box;
    background: $secondary-bg-color;
    border-radius: 4px;

    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: -15px -15px;
  }

  &__item {
    margin: 15px;
  }

  &__title {
    color: $title-text-color;
    font-weight: $semi-bold-font-weight;
    font-size: $font-size-fourteen;
    line-height: $line-height-fourteen;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    font-weight: $normal-font-weight;
    font-size: $font-size-fourteen;
    line-height: $line-height-seventy-one;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__icon {
    display: block;
    width: 70px;
    height: 70px;
  }
}

.item-principle::before {
  display: block;
  height: 120px;
}
.item-principle:nth-child(4n) {
  margin-right: 0;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .principle {
    &__list {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .principle {
    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 4 * 15px) / 2);
    }
  }
}

@media screen and (min-width: 768px) {
  .principle {
    &__list {
      flex-direction: row;
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .principle {
    padding-top: 94px;

    &__list {
      flex-wrap: nowrap;
    }

    &__item {
      width: auto;
    }
  }
}
