section {
  // padding-bottom: 94px;
  // padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}
.section__title {
  color: $title-text-color;
  font-weight: $semi-bold-font-weight;
  font-size: $h2-font-size;
  line-height: $line-height-fifteen;
  text-align: center;
  margin-top: 0px;
  // margin-bottom: 50px;
  // margin-bottom: 30px;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
